<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scuffed Metar</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.svg">
    <link rel="stylesheet" href="static/styles.css">
    <script type="text/javascript" src="static/script.js" defer></script>
</head>
<body>
<section class="header">
    <div class="header-container">
        <h2 class="sm mono">Scuffed METAR</h2>
        <div class="version mono" style="font-family: 'Geist Mono', Courier, serif">v1.0.1</div>
        <div class="reload-info text-grey">Data is refreshed at 30-second intervals, reload page to see changes.</div>
    </div>

    <div class="header-divider"></div>

    <div class="nav-links mono">
        {{ range .AirportInformation }}
        <a class="btn shadow" href="#{{- .AirportCode -}}">{{ .AirportCode }}</a>
        {{ end }}
    </div>
    <br>
    <div>
        <table role="presentation" style="text-align: left;" class="time">
            <tr>
                <td>Current Time:</td>
                <td id="gmtTime" class="text-grey"></td>
                <td>&emsp;</td>
                <td id="zuluTime" class="text-grey"></td>
            </tr>
            <tr style="">
                <td style="">Last Update:</td>
                <td class="text-grey">
                    {{ .LastUpdate.Format "15:04:05 GMT" }}
                </td>
            </tr>
        </table>
    </div>
    <br>
</section>
<!---->
<!-- actual data -->
<section class="main">
    {{ range .AirportInformation }}
        <div class="airportInfo">
            <h3 id="{{- .AirportCode -}}" class="mono">{{- .AirportCode }} <i class="text-smaller">{{ if .AirportName }} ( {{- .AirportName -}} ){{ end }}</i> </h3>
            <blockquote>
            {{ range .WeatherInfo.Metar }}
                <div class="weatherInfo">{{ . }}</div>
            {{ end }}
            {{ range .WeatherInfo.Taf }}
                <div class="weatherInfo">{{ formatTaf . }}</div>
            {{ end }}

            {{ $picBaseUrl := .CamBaseUrl }}
            {{ $airportCode := .AirportCode}}
            {{ $hasNoCam := (eq (len .CamPicUrls) 0 ) }}

            {{ if (eq $hasNoCam false) }}
                <div class="camera-container">
                    {{ range .CamPicUrls }}
                        <img class="camera shadow" src="{{ $picBaseUrl }}{{- . -}}" alt="FAILED TO LOAD: {{ $airportCode }} IMAGE" width="1920" height="1080" referrerpolicy="no-referrer">
                    {{ end }}
                </div>
            {{ end }}
            </blockquote>
        </div>
        {{ if (eq $hasNoCam true) }}
            <div class="divider"></div>
        {{ else }}
            <div class="spacing-div"></div>
        {{ end }}
    {{ end }}
</section>
<footer class="footer">
    <div class="header-divider"></div>
    <div class="header-container">
        <div></div>
        <div class="mono" title="not actually lol" style="cursor: pointer">©2023 Scuffed METAR</div>
    </div>
</footer>
</body>
</html>