/* Variables */
:root {
    --footer-height: 50px;
    --header-height: 200px;
    --width: 70%;

    --black: #000000;
    --grey: #808080;
    --light-grey: #b0b0b0;
    --white: #fff;
    --blue: #418BC3;
    --red: #DD4E3E;
    --green: #499D66;
    --yellow: #BFAD38;
}

@font-face {
    font-family: 'GeistMono';
    src: url('font/GeistMono-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url('font/GeistMono-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Reset */
* {
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: transparent;
    overflow-y: scroll;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow-x: hidden;
    color: var(--black);
    background: var(--white);
    text-rendering: optimizeLegibility;
    line-height: 1.2;
    word-break: break-word;
    background: var(--white)
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

body,
ul {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
    font-size: 0;
}

img::before {
    content: attr(alt);
    display: block;
    margin-bottom: 8px;

    color: var(--red);
    font-size: 26px;
    font-weight: bolder;
    font-family: GeistMono, Courier, serif;
}

blockquote {
    margin-right: 1em;
    margin-top: .25em;
    margin-left: 1em;
}

dialog {
    border: 1px solid var(--black);
    background-color: var(--white);
}

/* Formatting */
.header {
    width: var(--width);
    margin: auto;
    min-height: var(--header-height)
}

.header-nmh {
    /* assume there's enough content on page to fill 200px of missing header room*/
    width: var(--width);
    margin: auto;
}

.fifty-fifty {
    display: flex;
}

.item {
    width: 50%;
}

textarea {
    resize: none;
    width: 100%;
    background:  var(--white);
    outline: var(--grey);
    color: var(--black)
}

.bl {
    width: 2px;
    /* same calc used for body height */
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    padding: 0 0 0 2em;
    border-left: 2px dotted var(--black);
}

.subnav-links, .site-nav-links {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(95px, 1fr));
}

.main {
    width: var(--width);
    margin: auto;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.footer {
    text-align: right;
    width: var(--width);
    margin: auto;
    min-height: var(--footer-height)
}

/* Looks */
blockquote .weatherInfo:not(:last-of-type) {
    padding-bottom: 1.2em;
}

.notamInfo {
    line-height: 1.9em;
}

.text-grey {
    color: var(--grey);
}

.error {
    color: var(--red);
    text-transform: uppercase;
}

.text-smaller {
    font-size: .9em;
}

.airportInfo .weatherInfo:last-of-type {
    padding-bottom: 0;
}

.source-link {
    color: var(--black)
}

.source-link:hover {
    text-decoration: underline;
}

.header-divider {
    border-bottom: 2px solid var(--black);
    margin: .5em 0 1em 0;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    margin: 1em 0 .25em 0;
}

.mono {
    font-family: GeistMono, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* scuffed metar title */
.sm {
    min-width: 100%;
    font-size: 26px;
    align-self: end;
}

.reload-info {
    order: 2;
    flex-basis: 80%;
}

.version-dark-container {
    order: 3;
    display: flex;
    margin-left: auto;
}

.dark {
    display: inline-block;
    text-align: center;
    background-color: var(--black);
    margin-left: auto;

    border: 1px solid var(--black);
    padding: .25em .5em .25em .5em;
    color: var(--white);
    cursor: pointer;
}

.dark:hover {
    color: var(--black);
    background-color: var(--white);
}

.version {
    display: inline-block;
    text-align: center;
    border: 1px solid var(--black);
    background-color: var(--blue);
    padding: .25em .5em .25em .5em;
    color: var(--white);
    margin-left: auto;
}

.test {
    display: inline-block;
    text-align: center;
    border: 1px solid var(--black);
    background-color: var(--red);
    padding: .25em .5em .25em .5em;
    color: var(--white);
    margin-left: auto;
}

.refresh {
    max-width: 70%;
}

.time {
    font-size: 16px;
}

.btn {
    font-size: 16px;
    font-family: GeistMono, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
    text-align: center;
    border: 1px solid var(--black);
    padding: .25em 1em .25em 1em;
    color: var(--black);
    cursor: pointer;
}

.btn:hover {
    background-color: var(--black);
    color: var(--white)
}

.red {
    background-color: var(--red);
    color: var(--white);
}

.green {
    background-color: var(--blue);
    color: var(--white);
}

.white {
    background-color: var(--white);
    color: var(--black);
}

.shadow {
    box-shadow: 2px 2px var(--grey);
}

.checkbox {
    height: 1.25em;
    width: 1.25em;

    font-size: 16px;
    font-family: GeistMono, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
    border: 1px solid var(--black);
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
    padding: 0;
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected {
    background-color: rgba(148, 153, 162, 0.2);
}
.selected::after {
   content: "*";
}

.divider {
    border-bottom: 2px dotted var(--black);
    margin: 0 0 2em 0;
}

.divider:last-of-type {
    border-bottom: none;
}

.site-nav-divider {
    border-bottom: 2px dotted var(--black);
}

.camera-container {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
}

.image {
    background-image: repeating-radial-gradient(circle, var(--black) 0px, var(--black) 1px, transparent 2px, transparent 100%);
    background-size: 10px 10px;

    width: 100%;
    height: auto;
    max-width: 100%;
}

.spacing-div {
    margin: 1em 0 1em 0;
    display: inline-block;
}

.current-page {
    background-color: var(--blue);
    color: var(--white);
}

.jump-to-top {
    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--blue);

    font-size: 16px;
    font-family: GeistMono, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
    text-align: center;
    border: 1px solid var(--black);
    padding: .25em .5em;
    color: var(--white)
}

/* Dialogs */
.dialog-meta {
    display: flex;
    justify-content: space-between;
}

.dialog-close-btn {
    align-self: flex-start;
}

.metar-dialog-content {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(95px, 1fr));
}

.gfa-dialog-content {
    display: flex;
    gap: 25px;
    align-content: space-between;
}

.gfa-dialog-content-item {
    display: flex;
    align-items: center;
    justify-items:center;
}

/* winds tables */
.winds-table {
    width: 100%;
    border-left: 3px solid var(--light-grey);
    border-top: 2px dotted var(--light-grey);
    border-collapse: collapse;
    box-shadow: 2px 2px var(--light-grey);
}

.winds-table tr {
    text-align: left;
}

.fw {
   width: 300px;
}

.fw2 {
    width: 150px;
}

.winds-table th, .winds-table td {
    padding: 10px 5px;
    white-space: nowrap;
}
.winds-table td {
    border: 1px solid var(--light-grey);
}

/* Media */
@media screen and (max-width: 1080px) {
    :root {
        --width: 95%;
    }
}

@media screen and (max-width: 800px) {
    :root {
        --width: 95%;
    }

    .subnav-links {
        grid-template-columns: repeat(4, 1fr);
    }

    .site-nav-links {
        grid-template-columns: repeat(3, 1fr);
    }

    .camera-container {
        grid-template-columns: repeat(1, 1fr);
    }

    blockquote {
        margin-left: 0;
        margin-right: 0;
    }

    .gfa-dialog-content {
        display: block;
    }

    .gfa-dialog-content-item {
        margin-bottom: 5px;
    }

    .metar-dialog-content {
        grid-template-columns: repeat(3, 1fr);
    }

    .item {
        width: 100%;
    }
    .fifty-fifty {
        flex-direction: column-reverse;
    }
    .bl {
        /* same calc used for body height */
        min-height: 1px;
        width: 100%;
        padding: 0 0 0 0;
        margin: 0 0 2em 0;
        border-bottom: 2px dotted var(--black);
        border-left: none;
    }

}

@media screen and (max-width: 600px) {
    .reload-info {
        order: 3;
        flex-basis: 100%;
    }

    .version, .sm, .dark {
        min-width: auto;
        align-self: start;
    }
}

@media print {
    .jump-to-top {
        display: none;
    }

    .winds-table th, .winds-table td {
        white-space: normal;
    }

    .fw {
        width: auto;
    }

    .fw2 {
        width: auto;
    }
}
