<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>METAR | Scuffed Metar</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.svg">
    <link rel="stylesheet" href="../static/styles.css?v={{- .Version -}}">
    <script type="text/javascript" src="../static/script.js?v={{- .Version -}}" defer></script>
    <script type="text/javascript" src="../static/js/darkmode.js?v={{- .Version -}}" defer></script>
    <script type="text/javascript" src="../static/js/time.js?v={{- .Version -}}" defer></script>
    <script type="text/javascript" src="../static/js/meat.js?v={{- .Version -}}" defer></script>
    <script data-goatcounter="https://scuffed-metar.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</head>

<body>
<!-- Header -->
<section id="header" class="header">
    <div class="header-container">
        <h2 class="sm mono" id="top">Scuffed METAR</h2>
        <div class="version-dark-container">
            <div id="darkmode-toggle" class="mono dark">MODE</div>
            <div>&nbsp;</div>
            <a href="/info" class="mono version" style="font-family: GeistMono, Courier, serif;">v{{- .Version -}}</a>
        </div>

        <div class="reload-info text-grey">Data is refreshed at 30-second intervals, reload page to see changes.</div>
    </div>
    <div class="header-divider"></div>

    <!-- Main Site Nav-->
    <div class="site-nav-links mono">
        <a class="btn shadow current-page" href="/">METAR</a>
        <a class="btn shadow" href="/graphic-area-forecast">GFA</a>
        <a class="btn shadow" href="/notam">NOTAM</a>
        <a class="btn shadow" href="/winds">UPR WND</a>
        <a class="btn shadow" href="/trip">TRIP</a>
        <a class="btn shadow" href="/waas">WAAS</a>
        <a class="btn shadow" href="/mets">METS</a>
        <button id="print-dialog-open-trigger" class="btn shadow" style="grid-column-end: -1">Print</button>
    </div>

    <!-- Print Modal-->
    <dialog id="print-dialog" class="shadow">
        <section>
            <div style="display: flex;justify-content: space-between">
                <div>
                    <h3>Print Settings</h3>
                    <div class="text-grey" id="print-dialog-info-text">Waiting for page load...</div>
                </div>
                <div>
                    <button id="print-dialog-close-trigger" class="btn shadow red dialog-close-btn">Close</button>
                </div>
            </div>
            <br>
            <div class="metar-dialog-content">
                {{ range .AirportInformation }}
                    {{ if not (eq (len .Metar) 0) }}
                        <div style="display: flex; align-items: center;justify-items:center;" class="mono">
                            <button class="checkbox mono" id="{{.AirportCode}}-print-checkbox"></button>
                            <div>&nbsp;{{ .AirportCode }}</div>
                        </div>
                    {{ end }}
                {{ end }}
            </div>

            <div style="display: flex;padding-top:10px"></div>
            <br>
            <div class="mono">
                <button class="btn shadow green" id="print-button" disabled >Print</button>
                <button class="btn shadow red" id="reset-button">Reset</button>
                <button class="btn shadow" id="select-all-button">Select All</button>
                <!--            above is grey b/c its a button not link-->
            </div>
        </section>
    </dialog>

    <br>
    <div class="site-nav-divider"></div>
    <br>

    <!-- Clock -->
    <div>
        <table role="presentation" style="text-align: left;" class="time">
            <tr>
                <td>Current Time:</td>
                <td id="gmtTime" class="text-grey"></td>
                <td id="zuluTime" class="text-grey"></td>
            </tr>
            <tr style="">
                <td style="">Last Update:</td>
                <td class="text-grey">
                    {{ .LastUpdate.Format "15:04:05 GMT" }}
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div class="site-nav-divider"></div>
    <br>

    <!-- Page Nav-->
    <div class="subnav-links mono">
            {{ range .AirportInformation }}
            <a class="btn shadow" href="#{{- .AirportCode -}}-section">{{ .AirportCode }}</a>
        {{ end }}
    </div>
    <a class="jump-to-top" href="#top">
        <div>TOP</div>
    </a>
    <br>
</section>

<!-- Airport METAR/wxCams -->
<section class="main" id="metars">
    {{ range .AirportInformation }}
        <div id="{{.AirportCode}}-section" class="airportInfo">

            <h3 id="{{- .AirportCode -}}" class="mono">{{- .AirportCode }}
                <i class="text-smaller">{{ if .AirportName }} ( {{- .AirportName -}} ){{ end }}</i>
                {{ if .MetarSource }}
                    <a href="{{.MetarSource}}"
                       class="source-link text-smaller mono"
                       style="float:right; font-weight: lighter"
                       target="_blank"
                       referrerpolicy="no-referrer">src</a>
                {{ end }}

                {{ if .AwosFrequency }}
                    <i class="text-smaller">
                        {{ .AwosFrequency }}
                    </i>
                {{ end }}

            </h3>
            {{ if .Error }} <h4 class="error">{{ .Error }}</h4> {{ end }}
            {{ if .Stale }} <h4 class="error" style="color: #FFA500">Data May Be Stale ({{ .Stale }}min)</h4>  {{ end }}
            <blockquote>
                {{ range .WeatherInfo.Metar }}
                    <p class="weatherInfo">{{ . }}</p>
                {{ end }}
                {{ range .WeatherInfo.Taf }}
                    <p class="weatherInfo">{{ formatTaf . }}</p>
                {{ end }}

                {{ $picBaseUrl := .CamBaseUrl }}
                {{ $airportCode := .AirportCode}}
                {{ $hasNoCam := (eq (len .CamPicUrls) 0 ) }}

                {{ if (eq $hasNoCam false) }}
                <div class="camera-container pt">
                    {{ range .CamPicUrls }}
                        <img class="image shadow" src="{{ $picBaseUrl }}{{- . -}}"
                             alt="FAILED TO LOAD: {{ $airportCode }} IMAGE" width="1920" height="1080"
                             referrerpolicy="no-referrer">
                    {{ end }}
                </div>
                {{ end }}
            </blockquote>
        </div>
        {{ if (eq $hasNoCam true) }}
            <div id="{{.AirportCode}}-divider" class="divider"></div>
        {{ else }}
            <div id="{{.AirportCode}}-divider" class="spacing-div"></div>
        {{ end }}
    {{ end }}
</section>

<footer id="footer" class="footer">
    <div class="header-divider"></div>
    <div class="header-container">
        <div class="mono "><a class="source-link" href="/info">INFO</a></div>
        <div class="mono" title="not actually lol" style="cursor: pointer">©2023-2025 Scuffed METAR</div>
    </div>
</footer>
</body>
</html>