<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>METS | Scuffed Metar</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.svg">
    <link rel="stylesheet" href="../static/styles.css?v={{- .notam.Version -}}">
    <script type="text/javascript" src="../static/script.js?v={{- .notam.Version -}}" defer></script>
    <script type="text/javascript" src="../static/js/darkmode.js?v={{- .notam.Version -}}" defer></script>
    <script type="text/javascript" src="../static/js/time.js?v={{- .notam.Version -}}" defer></script>
    <script type="text/javascript" src="../static/js/meat.js?v={{- .Version -}}" defer></script>
    <script data-goatcounter="https://scuffed-metar.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</head>

<body>
<!-- Header -->
<section id="header" class="header">
    <div class="header-container">
        <h2 class="sm mono" id="top">Scuffed METAR</h2>
        <div class="version-dark-container">
            <div id="darkmode-toggle" class="mono dark">MODE</div>
            <div>&nbsp;</div>
            <a href="/info" class="mono version" style="font-family: GeistMono, Courier, serif;">v{{- .Version -}}</a>
        </div>

        <div class="reload-info text-grey">Data is refreshed per-request, reload page to see changes.</div> </div>
    <div class="header-divider"></div>

    <!-- Main Site Nav-->
    <div class="site-nav-links mono">
        <a class="btn shadow" href="/">METAR</a>
        <a class="btn shadow" href="/graphic-area-forecast">GFA</a>
        <a class="btn shadow" href="/notam">NOTAM</a>
        <a class="btn shadow" href="/winds">UPR WND</a>
        <a class="btn shadow" href="/trip">TRIP</a>
        <a class="btn shadow" href="/waas">WAAS</a>
        <a class="btn shadow current-page" href="/mets">METS</a>
        <button id="print-dialog-open-trigger" class="btn shadow" style="grid-column-end: -1">Print</button>
    </div>

    <br>
    <div class="site-nav-divider"></div>
    <br>

    <!-- Clock -->

    <div>
        <table role="presentation" style="text-align: left;" class="time">
            <tr>
                <td>Current Time:</td>
                <td id="gmtTime" class="text-grey"></td>
                <td>&emsp;</td>
                <td id="zuluTime" class="text-grey"></td>
            </tr>
            <tr style="">
                <td style="">Last Update:</td>
                <td class="text-grey">
                    {{ .LastUpdate.Format "15:04:05 GMT" }}
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div class="site-nav-divider"></div>
    <br>
</section>

<section class="main">
    {{ if len .Data }}
        {{ range $key, $value := .Data }}
        <h3 class="mono">
            {{ range sort $value }}
            <span>{{ . }} </span>
            {{ end }}
        </h3>
        <div>
            <blockquote>
                <p class="weatherInfo">
                    {{ formatTaf $key }}
                </p>
            </blockquote>
        </div>
        {{ end }}
    {{else}}
        <div>None ()</div>
    {{ end }}


    <a class="jump-to-top" href="#top">
        <div>TOP</div>
    </a>
    <br>

</section>


<footer id="footer" class="footer">
    <div class="header-divider"></div>
    <div class="header-container">
        <div class="mono "><a class="source-link" href="/info">INFO</a></div>
        <div class="mono" title="not actually lol" style="cursor: pointer">©2023-2025 Scuffed METAR</div>
    </div>
</footer>
</body>
</html>
