<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAAS | Scuffed Metar</title>
    <link rel="icon" type="image/x-icon" href="../static/favicon.svg">
    <link rel="stylesheet" href="../static/styles.css?v={{- .Version -}}">
    <script type="text/javascript" src="../static/script.js?v={{- .Version -}}" defer></script>
    <script type="text/javascript" src="../static/js/darkmode.js?v={{- .Version -}}" defer></script>
    <script type="text/javascript" src="../static/js/time.js?v={{- .Version -}}" defer></script>
    <script type="text/javascript" src="../static/js/meat.js?v={{- .Version -}}" defer></script>
    <script data-goatcounter="https://scuffed-metar.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</head>

<body>
<!-- Header -->
<section id="header" class="header">
    <div class="header-container">
        <h2 class="sm mono" id="top">Scuffed METAR</h2>
        <div class="version-dark-container">
            <div id="darkmode-toggle" class="mono dark">MODE</div>
            <div>&nbsp;</div>
            <a href="/info" class="mono version" style="font-family: GeistMono, Courier, serif;">v{{- .Version -}}</a>
        </div>
        <div class="reload-info text-grey">Data is updated every three minutes, reload page to see changes.</div>
    </div>
    <div class="header-divider"></div>

    <!-- Main Site Nav-->
    <div class="site-nav-links mono">
        <a class="btn shadow" href="/">METAR</a>
        <a class="btn shadow" href="/graphic-area-forecast">GFA</a>
        <a class="btn shadow" href="/notam">NOTAM</a>
        <a class="btn shadow" href="/winds">UPR WND</a>
        <a class="btn shadow" href="/trip">TRIP</a>
        <a class="btn shadow current-page" href="/waas">WAAS</a>
<!--        <button id="print-dialog-open-trigger" class="btn shadow" style="grid-column-end: -1">Print</button>-->
    </div>
    <br>
    <div class="site-nav-divider"></div>
    <br>

    <!-- Print Settings-->
    <dialog id="print-dialog" class="shadow">
        <section>
            <div class="dialog-meta">
                <div>
                    <h3>Print Settings</h3>
                    <div class="text-grey" id="print-dialog-info-text">Waiting for page load...</div>
                </div>
                <button id="print-dialog-close-trigger" class="btn shadow red dialog-close-btn">Close</button>
            </div> <br>

            <div class="gfa-dialog-content">
                <div>
                    <h4>Clouds & Weather</h4>
                    <blockquote>
                        {{ range .CloudsWeather}}
                        <div class="mono gfa-dialog-content-item">
                            <button class="checkbox mono" id="{{.Id}}-print-checkbox"></button>
                            <div>&nbsp;{{ .StartValidity}}</div> <!-- .Format "15:04:05 GMT"-->
                        </div>
                        {{ end }}
                    </blockquote>
                </div>

                <div>
                    <h4>Icing, Turbulence & Freezing level</h4>
                    <blockquote>
                        {{ range .IcingTurbFreezing }}
                        <div class="mono gfa-dialog-content-item">
                            <button class="checkbox mono" id="{{.Id}}-print-checkbox"></button>
                            <div>&nbsp;{{ .StartValidity}}</div> <!-- .Format "15:04:05 GMT"-->
                        </div>
                        {{ end }}
                    </blockquote>
                </div>
            </div>
            <br>

            <div class="mono">
                <button class="btn shadow green" id="print-button" disabled>Print</button>
                <button class="btn shadow red" id="reset-button">Reset</button>
                <button class="btn shadow" id="select-all-button">Select All</button>
                <br>
            </div>
        </section>
    </dialog>
    <!-- End Print Settings-->

    <!-- Clock -->
    <div>
        <table role="presentation" style="text-align: left;" class="time">
            <tr>
                <td>Current Time:</td>
                <td id="gmtTime" class="text-grey"></td>
                <td>&emsp;</td>
                <td id="zuluTime" class="text-grey"></td>
            </tr>
            <tr style="">
                <td style="">Last Refresh:</td>
                <td class="text-grey">
                    {{ .LastUpdate.Format "15:04:05 GMT" }}
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div class="site-nav-divider"></div>
    <br>
</section>

<!-- Forecasts -->
<section class="main">
    <h3 class="mono">WAAS
        <i class="text-smaller">(click for full size)</i>
    </h3>
    <h3 class="error">{{ if .Error }} {{.Error}} {{ end}}</h3>
    <blockquote>
        <div class="camera-container">
            <a href="https://www.nstb.tc.faa.gov/incoming/vplbig.png">
            <img class="image shadow" src="https://www.nstb.tc.faa.gov/incoming/vplbig.png"
                 alt="FAILED TO LOAD IMAGE" width="756" height="608" referrerpolicy="no-referrer">
            </a>
        </div>
    </blockquote>

</section>

<footer id="footer" class="footer">
    <div class="header-divider"></div>
    <div class="header-container">
        <div class="mono "><a class="source-link" href="/info">INFO</a></div>
        <div class="mono" title="not actually lol" style="cursor: pointer">©2023-2025 Scuffed METAR</div>
    </div>
</footer>
</body>
</html>
